<%= render 'shared/content_title', title: 'Register' %>

<div class="login well span3 offset3 text-center">
  <h4>Login</h4>
  <br/><br/><br/>
  <%= link_to 'Login', login_path, class: "btn btn-info" %>
</div>
<div class="well span3">
    <h4>Register User</h4>
  <%= render 'form' %>
</div>